@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:opsz,wght@6..72,300;800&display=swap');




.addTaskContainer {

    h2 {
        margin-bottom: 1rem;
        color: black;
        font-size: 1.2rem;
        // font-family: Arial, sans-serif;
    }
}

.subheading {
    display: flex;
    gap: 50px;
}


.messageModal,
.catModalContainer {
    background-color: white;
    color: black;
    border-radius: 0.5rem;
    text-align: center;
    height: 90%;
    font-size: 2rem;


    h3,
    p {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
    }


    input {
        margin-bottom: 10px;

    }

    button {
        background-color: white;
        color: black;
        // border: none;
        border-color: black;
        border-radius: 0.5rem;
        font-weight: bold;
        font-size: 0.8rem;
        padding: 8px 10px;
        margin-top: 10px;
        margin-bottom: 10px;


        &:hover {
            background-color: white;
        }
    }
}