.modaloverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--toggle-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    color: var(--primary-text-color);
    border-color: var(--primary-text-color);
}

.modalcontent {
    background: var(--foreground-color);
    padding: 20px;
    box-shadow:
        inset 0 0 0 2px var(--primary-text-color),
        0 4px 4px rgba(0, 0, 0, 0.3);
    position: relative;
    margin-top: 12%;
    border-radius: 10px;
    border: 1px solid var(--primary-text-color);
    color: var(--primary-text-color);
}

.closebutton {
    position: absolute;
    top: 1px;
    right: 2px;
    background: none;
    color: var(--primary-text-color);

    .icon {
        margin-bottom: 2%;
    }
}