@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:opsz,wght@6..72,300;800&display=swap');

h1,
h2,
h3 {
    font-family: "Funnel Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

p {
    font-family: "Funnel Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.form {
    background-color: white;
    color: black;
    padding: 1.5rem;
    border-radius: 0.5rem;
    // font-family: Arial, sans-serif;
    max-width: 500px;
    margin: 0 auto;

    label {
        display: block;
        font-weight: bold;
        font-size: 0.9rem;
        // margin-bottom: 0.4rem;
        color: black;
    }

    input[type="text"] {
        background-color: white;
        color: black;
        border: 1px solid white;
        padding: 0.5rem;
        border-radius: 0.3rem;
        margin-bottom: 1rem;
        width: 100%;
        font-size: 1rem;
        border-color: black;


        &:focus {
            outline: none;
            border-color: black;
        }
    }

    button {
        background-color: white;
        color: black;
        border: 2px solid black;
        padding: 0.6rem 1.2rem;
        border-radius: 0.5rem;
        font-weight: bold;
        margin-right: 1rem;
        transition: 0.3s ease;

        &:hover {
            // background-color: white;
            color: black;
        }

        &:focus {
            outline: none;
            box-shadow: 0 0 4px 2px white;
        }
    }

    .checkboxWrapper {
        margin: 1rem 0;
    }

    .checkboxGroup {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0.75rem;
    }

    .checkboxItem {
        display: flex;
        align-items: center;
        gap: 0.4rem;

        input[type="checkbox"] {
            accent-color: white;
        }

        label {
            font-size: 0.85rem;
            color: black;
        }
    }

    .react-datepicker-wrapper,
    .react-datepicker__input-container,
    .react-datepicker__input-container input {
        display: block;
        width: 100%;
        background-color: white;
        color: black;
        border: 1px solid white;
        padding: 0.5rem;
        margin-top: 0.4rem;


        &:focus {
            outline: none;
            border-color: black;
        }
    }
}